*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { --background-app: #007A56;
        --grey-900: #0E1719;
        --grey-700: #3B464B;
        --green-300: #0CC476;
        --grey-300: #EFF1F3;
        --grey-200: #6e6e6f;
        --green-100: #ffffff;
        --green-button: #00322B;







}
