*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font)

}
:root { --primary-color: #007A56;
        --grey-900: #0E1719;
        --grey-700: #3B464B;
        --green-300: #0CC476;
        --grey-300: #EFF1F3;
        --grey-200: #6e6e6f;
        --green-100: #ffffff;
        --green-button: #00322B;
        --primary-font: "Roboto", sans-serif;

}

body {
    background-color: var(--primary-color);
    padding: 40px;
        }

.app {
    background-color: white;
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 100vh;
    overflow: hidden;
    }

aside {
    background-color: var(--grey-900);
    color: white;
}

aside header {
    background-color: var(--grey-900);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    }

.profile img {
    width: 60px;
    border-radius: 50%;
}

.profile h2 {
    font-size: 22px;
}

.actions {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.actions button {
    padding: 5px;
    border: none;
    border-radius: 8%;
    cursor: pointer;
    background-color: var(--grey-900);
    color: var(--grey-200);
    transition: transform .2s;
}

.actions button svg {
    width: 20px;
           
}

.actions button:hover {
    background-color: var(--grey-300);
    transform: translateY(-4px);
    
}



/*search input*/